{# templates/wild/episode.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid" style="width: 50%; background-color: rgba(255,254,250,0.36)">
        <h4>Saison {{ season.number }} </h4>
        <img class="poster" src="{{season.affiche}}" alt="">
        <p>{{ episode.synopsis }}</p>

        <div>
            <p>Liste des épisodes :</p>
                {% for episode in episode %}
                    <h5>Episode {{ season.number }} : {{ season.episode.title }}</h5>
                {% endfor%}
        </div>
    </div>
{% endblock %}