{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="width: 50%; background-color: rgba(255,254,250,0.36)">
        <h4>Saison {{ seasons.id }} de {{ program.title }}</h4>
        <hr>
        <p>{{ seasons.description }}</p>

        <div>
            <p>Liste des épisodes :</p>
            <ul>
                {% for episode in episodes %}
                    <h5>Episode {{ episode.id }} : {{ episode.title }}</h5>
                {% endfor%}
            </ul>
        </div>
    </div>
{% endblock %}