{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ season.program.title }}{% endblock %}

{% block body %}
    <div class="container-fluid" style="width: 50%; background-color: rgba(255,254,250,0.36)">
        <h4>{{ season.program.title }} </h4>
        <img class="poster" src="{{season.affiche}}" alt="">
        <p>{{ season.description }}</p>
        <div>
            <p>Liste des saisons :</p>
            {% for season in program %}
            <ul>
                <h5>Saison {{ season.number }}</h5>
                <p>{{ season.description }}</p>
            </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
